body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2{
  color: rgb(61, 61, 61);
}

button{
  background-color: rgb(94, 94, 94);
  color: white;
  border-radius: 30px;
  border: solid 1px;
  margin: 10px;
  width: 100px;
  height: 36px;
}

p{
  text-align: left;
  margin-left: 330px;
}